<% provide(:title, "新規登録") %>
<% provide(:css, (stylesheet_link_tag 'bootstrap.min',
                                      'icons',
                                      'style.css')) %>
<% provide(:js1, (javascript_include_tag 'modernizr.min')) %>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
  <div class="text-center">
    <%= link_to '/', class: 'logo' do %>
      <span>Pian<span>ist</span></span>
    <% end %>
    <h5 class="text-muted m-t-0 font-600">作曲とピアノの学習サービス</h5>
  </div>
  <div class="m-t-20">
    <%= render 'shared/alert' %>
    <%= render 'shared/error_messages' %>
  </div>
  <div class="m-t-40 card-box">
    <div class="text-center">
      <h4 class="text-uppercase font-bold m-b-0">新規登録</h4>
    </div>
    <div class="p-20">
      <%= form_for(@user, html: {class: 'form-horizontal m-t-20'}) do |f| %>
					<div class="form-group ">
						<div class="col-xs-12">
              <%# <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
						</div>
					</div>

					<div class="form-group ">
						<div class="col-xs-12">
              <%# <%= f.label :name %>
              <%= f.text_field :name, class: "form-control", placeholder:"名前" %>
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-12">
              <%# <%= f.label :password %>
              <%= f.password_field :password, class: "form-control", placeholder:"パスワード" %>
						</div>
					</div>

          <div class="form-group">
            <div class="col-xs-12">
              <%# <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder:"パスワード確認" %>
            </div>
          </div>

					<div class="form-group">
						<div class="col-xs-12">
							<div class="checkbox checkbox-custom">
								<input id="checkbox-signup" type="checkbox" checked="checked">
								<label for="checkbox-signup">利用規約に同意する <a href="#">利用規約</a></label>
							</div>
						</div>
		      </div>

					<div class="form-group text-center m-t-40">
						<div class="col-xs-12">
              <%= f.submit "アカウントの作成", class: "btn btn-custom btn-bordred btn-block" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
          <!-- end card-box -->

	<div class="row">
		<div class="col-sm-12 text-center">
			<p class="text-muted">既にアカウントを持っている方
        <%= link_to login_path, class: 'text-primary m-l-5' do %>
          <b>ログイン</b>
        <% end %>
      </p>
		</div>
	</div>
</div>

<% provide(:js2, (javascript_include_tag 'jquery.min',
                                         'popper.min',
                                         'bootstrap.min',
                                         'detect',
                                         'fastclick',
                                         'jquery.blockUI',
                                         'waves',
                                         'jquery.nicescroll',
                                         'jquery.slimscroll',
                                         'jquery.scrollTo.min',
                                         'jquery.core',
                                         'jquery.app')) %>
