<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
      <meta name="author" content="Coderthemes">
      <%= csrf_meta_tags %>
      <%= favicon_link_tag('favicon.ico', rel: 'shortcut icon') %>

      <title><%= yield(:title) %></title>

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

      <%= yield(:css) %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= yield(:js1) %>
  </head>
  <body class="fixed-left">
    <%= yield %>
    <div class="w-50 mx-auto"><%= debug(params) if Rails.env.development? %></div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield(:js2) %>
  </body>
</html>
